<section class="todolist">
  <div class="todolistcard">
    <div class="todolistheader">
      <h2>項目</h2>
      <div class="line"></div>
  </div>
  <div class="todolistcontent">
    <table class="todolisttable">
  <tr>
    <th>ID</th>
    <th>日期</th>
    <th>事件</th>
    <th>刪除</th>
  </tr>
  <tr>
    <td>01</td>
    <td>08/14</td>
    <td>文案一</td>
    <td>
      <button type="submit">按鈕</button>
    </td>
  </tr>
  <tr>
    <td>02</td>
    <td>02/14</td>
    <td>文案二</td>
    <td>
      <button type="submit">按鈕</button>
    </td>
  </tr>
  <tr>
    <td>03</td>
    <td>01/12</td>
    <td>文案三</td>
    <td>
      <button type="submit">按鈕</button>
    </td>
  </tr>
</table>
  </div>
  </div>
</section>
